<h1>Welcome to H-hour main page</h1>

<% if @user %>
 <% @user.email%>
<% else %>
    <p>Not logged in</p>
<% end %>

<div class="row">
  <% @products.each do |product| %>
    <div class="card bg-light mb-3" style="width: 18rem;">
      <% if product.image.attached? %>
        <%= image_tag product.image, class: "card-img-top", size: "200x200" %>
      <% else %>
        <p>No Image Available</p>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= product.name %></h2>
        <p class="card-text"><%= number_to_currency(product.price) %></p>
        <a href=<%= product_path(product) %> class="btn btn-primary">Детальніше</a>
      </div>
    </div>
    <br>
  <br>
  <% end %>
</div>
